In [3]:
import pandas as pd
import numpy as np
import string
import re
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
#analyser = SentimentIntensityAnalyzer()
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import preprocessing

In [7]:
id = []
uname = []
loc = []
tweet = []
tweet_int = []
tweet_final = []

In [8]:
with open('/Users/shwetha/Documents/Drive Learning Material/KT/tweets/train_tweets.txt','r',encoding = 'ISO-8859-1') as file:
    #text = file
    for line in file:
         id.append(line.split(',', 1)[0])
         uname.append(line.split(',',2)[1])
         #loc.append(line.split(',',4)[3])
         tweet.append(line.split(',',2)[2])
         #tweet_new = str(tweet)
         tweet_new = line.split(',',2)[2]
         loc.append(tweet_new.rsplit(',',1)[1].rstrip())
         tweet_final.append(tweet_new.rsplit(',',1)[0])
         #tweet_final = tweet_int[0]

In [9]:
len(loc)

96585

In [111]:
print(type(tweet_int))

<class 'list'>

In [46]:
# train_tweet_df = pd.DataFrame(
#     {'id': id,
#      'uname': uname,
#      'tweets': tweet_final,
#      'location': loc
#     })
test_tweet_df = pd.DataFrame({
    'id' : id,
    'uname' : uname,
    'tweets': tweet_final
}
)

In [42]:
train_tweet_df.iloc[[34]]
#test_tweet_df.iloc[[34]]

,id,location,tweets,uname
34,219,California,"""@USER_d2a42b85 lol , I've noticed . nothing w...",USER_064b120e

In [47]:
train_tweet_df.to_csv('tweets/train_tweet_df.csv')
test_tweet_df.to_csv('tweets/test_tweet_df.csv')

In [48]:
# train_tweet_df1 = pd.read_csv('tweets/{}')
#pd.read_csv("{}/{}".format("tweets"), sep=" ", header=None)
train_most_words = pd.read_csv('tweets/arfftocsv/train-most200.csv')
test_most_words = pd.read_csv('tweets/arfftocsv/test-most200.csv')

In [49]:
test_most_words.head()
#train_tweet_df1.head(5)

,tweet-id,user-id,a,about,aint,all,always,am,an,and,...,ya,yall,yea,yeah,yes,yo,you,your,yu,class
0,32,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,?
1,33,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,?
2,34,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,?
3,35,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,?
4,36,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,?

In [50]:
#s.translate(str.maketrans('', '', string.punctuation))
#train_tweet_df['tweets'].head()
#train_tweet_df['tweets_punc_less'] = train_tweet_df['tweets'].translate(str.maketrans('', '', string.punctuation))
train_tweet_df['tweets_punc_less'] = train_tweet_df['tweets'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
test_tweet_df['tweets_punc_less'] = test_tweet_df['tweets'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

In [51]:
train_tweet_df.head(5)
#test_tweet_df.head(5)

,id,location,tweets,uname,tweets_punc_less
0,110,NewYork,"""Forget ma stoopiid friiends!!!""",USER_ce270acf,Forget ma stoopiid friiends
1,111,NewYork,"""@USER_00791b0d nuttiin much_how bout u!""",USER_ce270acf,USER00791b0d nuttiin muchhow bout u
2,112,NewYork,"""RT @USER_00791b0d: RT @USER_ce270acf: @USER_0...",USER_ce270acf,RT USER00791b0d RT USERce270acf USER00791b0d i...
3,113,NewYork,"""@USER_e870cfe3 umm its souljawfy""",USER_ce270acf,USERe870cfe3 umm its souljawfy
4,114,NewYork,"""Smt mommy hurry manqqs :(""",USER_ce270acf,Smt mommy hurry manqqs

In [52]:
train_tweet_df['@_count'] = train_tweet_df['tweets'].apply(lambda x:x.count('@'))
test_tweet_df['@_count'] = test_tweet_df['tweets'].apply(lambda x:x.count('@'))

In [53]:
train_tweet_df['#_count'] = train_tweet_df['tweets'].apply(lambda x:x.count('#'))
test_tweet_df['#_count'] = test_tweet_df['tweets'].apply(lambda x:x.count('#'))

In [54]:
mytext = "hello, look an ACRONYM Lmao"
mytext = re.sub(r"\b[A-Z]{2,}\b", "ACRONYM", mytext)
print(mytext)

hello, look an ACRONYM Lmao

In [55]:
train_tweet_df['accronym_count'] = train_tweet_df['tweets'].apply(lambda x:x.count(r"\b[A-Z]{2,}\b"))
test_tweet_df['accronym_count'] = test_tweet_df['tweets'].apply(lambda x:x.count(r"\b[A-Z]{2,}\b"))

In [56]:
train_tweet_df['emoticon_count'] = train_tweet_df['tweets'].apply(lambda x:x.count(':'))
test_tweet_df['emoticon_count'] = test_tweet_df['tweets'].apply(lambda x:x.count(':'))

In [57]:
train_tweet_df['exclamation_count'] = train_tweet_df['tweets'].apply(lambda x:x.count('!'))
test_tweet_df['exclamation_count'] = test_tweet_df['tweets'].apply(lambda x:x.count('!'))

In [58]:
train_tweet_df['word_count'] = train_tweet_df['tweets_punc_less'].apply(lambda x:len(x.split()))
test_tweet_df['word_count'] = test_tweet_df['tweets_punc_less'].apply(lambda x:len(x.split()))

In [59]:
#train_tweet_df['shortword_count'] = train_tweet_df['tweets_punc_less'].apply(lambda x: len(x) == 3, x.split())

In [60]:
train_tweet_df['sentiment'] = train_tweet_df['tweets'].apply(lambda x:analyser.polarity_scores(x))
test_tweet_df['sentiment'] = test_tweet_df['tweets'].apply(lambda x:analyser.polarity_scores(x))

In [61]:
train_tweet_df['sentiment_compound'] = train_tweet_df['sentiment'].apply(lambda x: True if x['compound'] == 0 else False)
test_tweet_df['sentiment_compound'] = test_tweet_df['sentiment'].apply(lambda x: True if x['compound'] == 0 else False)

In [62]:
train_tweet_df['@present'] = train_tweet_df['@_count'].apply(lambda x: False if x == 0 else True)
test_tweet_df['@present'] = test_tweet_df['@_count'].apply(lambda x: False if x == 0 else True)

In [63]:
train_tweet_df['#present'] = train_tweet_df['#_count'].apply(lambda x: False if x == 0 else True)
test_tweet_df['#present'] = test_tweet_df['#_count'].apply(lambda x: False if x == 0 else True)

In [64]:
train_tweet_df['accrpresent'] = train_tweet_df['accronym_count'].apply(lambda x: False if x == 0 else True)
test_tweet_df['accrpresent'] = test_tweet_df['accronym_count'].apply(lambda x: False if x == 0 else True)

In [65]:
train_tweet_df['emopresent'] = train_tweet_df['emoticon_count'].apply(lambda x: False if x == 0 else True)
test_tweet_df['emopresent'] = test_tweet_df['emoticon_count'].apply(lambda x: False if x == 0 else True)

In [66]:
train_tweet_df['expresent'] = train_tweet_df['exclamation_count'].apply(lambda x: False if x == 0 else True)
test_tweet_df['expresent'] = test_tweet_df['exclamation_count'].apply(lambda x: False if x == 0 else True)

In [67]:
train_tweet_feature = train_tweet_df
train_tweet_feature['location_label'] = train_tweet_df['location'].apply(lambda x: 0 if x == 'NewYork' else 1 if x == 'California' else 2)

In [70]:
#train_tweet_feature.head()
#train_most_words.drop(0)
#train_most_words.drop(['tweet-id', 'user-id','class'], axis = 1) 
#test_most_words.drop(['tweet-id', 'user-id','class'], axis = 1) 
train_data_complete = pd.concat([train_tweet_feature,train_most_words], axis=1)
train_data_complete.head()
#test_data_complete = pd.concat([test_tweet_df,test_most_words], axis=1)
#test_data_complete.head()

,id,location,tweets,uname,tweets_punc_less,@_count,#_count,accronym_count,emoticon_count,exclamation_count,...,ya,yall,yea,yeah,yes,yo,you,your,yu,class
0,110,NewYork,"""Forget ma stoopiid friiends!!!""",USER_ce270acf,Forget ma stoopiid friiends,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,NewYork
1,111,NewYork,"""@USER_00791b0d nuttiin much_how bout u!""",USER_ce270acf,USER00791b0d nuttiin muchhow bout u,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NewYork
2,112,NewYork,"""RT @USER_00791b0d: RT @USER_ce270acf: @USER_0...",USER_ce270acf,RT USER00791b0d RT USERce270acf USER00791b0d i...,3,0,0,2,0,...,0,0,0,0,0,0,0,0,0,NewYork
3,113,NewYork,"""@USER_e870cfe3 umm its souljawfy""",USER_ce270acf,USERe870cfe3 umm its souljawfy,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
4,114,NewYork,"""Smt mommy hurry manqqs :(""",USER_ce270acf,Smt mommy hurry manqqs,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,NewYork

feature_cols = ['word_count', 'sentiment_compound', '@present', '#present','accrpresent','emopresent','expresent']
X = train_tweet_feature[feature_cols] # Features
Y = train_tweet_feature['location'] # Target variable

In [229]:
X.head()

,word_count,sentiment_compound,@present,#present,accrpresent,emopresent,expresent
0,4,False,False,False,False,False,True
1,5,True,True,False,False,False,True
2,11,False,True,False,False,True,False
3,4,True,True,False,False,False,False
4,4,True,False,False,False,True,False

In [100]:
feature_cols = ['sentiment_compound', '@present', '#present','accrpresent','emopresent','expresent']
X = train_data_complete
X = X.drop(['id', 'location','class','tweets','uname','tweets_punc_less','@_count','#_count','accronym_count','exclamation_count','emoticon_count','word_count','sentiment','tweet-id','user-id','location_label'], axis = 1)
#X_train.head()
Y = train_data_complete['location']
Y.head()
#X_test = test_data_complete
#X_test = X_test.drop(['id','class','tweets','uname','tweets_punc_less','@_count','#_count','accronym_count','exclamation_count','emoticon_count','word_count','sentiment','tweet-id','user-id'], axis = 1)
#X_test = X_test[pd.notnull(X_test)]
#np.where(pd.isnull(X_test))
#pd.DataFrame(X_test).fillna(value = 0)
#X_test.head()
#len(X_train.columns)

0    NewYork
1    NewYork
2    NewYork
3    NewYork
4    NewYork
Name: location, dtype: object

In [101]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [125]:
clf = DecisionTreeClassifier(max_depth = 20, random_state = 101,min_samples_leaf = 25)

# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

#Predict the response for test dataset
Y_pred = clf.predict(X_test)

In [129]:
#print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))
len(Y_pred)
Y_pred_state = Y_pred
Y_pred_tweet_id = test_tweet_df['id']

In [130]:
Y_pred

array(['NewYork', 'NewYork', 'NewYork', ..., 'NewYork', 'NewYork',
       'NewYork'], dtype=object)

In [131]:
Y_pred_df = pd.DataFrame(Y_pred)

In [134]:
Y_pred_df.head(100)

             0
0      NewYork
1      NewYork
2      NewYork
3      NewYork
4      NewYork
5      NewYork
6      NewYork
7      NewYork
8      NewYork
9      NewYork
10     NewYork
11     NewYork
12     NewYork
13     NewYork
14     NewYork
15     NewYork
16     NewYork
17     NewYork
18     NewYork
19     NewYork
20     NewYork
21     NewYork
22     NewYork
23     NewYork
24     NewYork
25     NewYork
26     NewYork
27     NewYork
28     NewYork
29     NewYork
..         ...
70     NewYork
71     NewYork
72     NewYork
73     NewYork
74     Georgia
75     NewYork
76     NewYork
77     NewYork
78     NewYork
79     NewYork
80     NewYork
81     NewYork
82     NewYork
83  California
84     NewYork
85     NewYork
86     NewYork
87     NewYork
88     NewYork
89     NewYork
90     NewYork
91     Georgia
92     NewYork
93     NewYork
94     NewYork
95     NewYork
96     NewYork
97     NewYork
98     NewYork
99     NewYork

[100 rows x 1 columns]

In [135]:
Y_pred_df.to_csv('tweets/pred_df.csv')

In [ ]:
Y_test_df = pd.DataFrame(Y_test)
Y_test_df.to_csv('tweets/test_df.csv')

In [264]:
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
label=le.fit_transform(Y)

In [ ]:
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X,label)

In [4]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

#Train the model using the training sets
#gnb.fit(X_train, Y_train)

#Predict the response for test dataset
#Y_pred = gnb.predict(X_test)

In [ ]:
predicted= model.predict([[0,2]])

In [78]:
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.6320057979017117

In [218]:
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=100)

#Train the model using the training sets
knn.fit(X_train, Y_train)

#Predict the response for test dataset
Y_pred = knn.predict(X_test)

In [80]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.6320057979017117

In [57]:
import xgboost as xgb

In [58]:
xg_reg = xgb.XGBRegressor(objective = 'binary:logistic', colsample_bytree = 0.3, learning_rate = 0.1, max_depth = 5, alpha = 10, n_estimators = 10)

In [307]:
xg_reg.fit(X_train, Y_train)
Y_pred = xg_reg.predict(X_test)

In [ ]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

In [308]:
Y_pred

array([0.5350645 , 0.49201876, 0.50117517, ..., 0.49721956, 0.4762366 ,
       0.54926825], dtype=float32)

In [309]:
Y_test

49074    0
90511    1
93463    0
156      2
10441    0
        ..
9957     0
4035     0
31235    0
19006    0
34592    0
Name: location_label, Length: 28976, dtype: int64

In [311]:
Y_test_df = pd.DataFrame(Y_pred)
Y_test_df.to_csv('tweets/test_df_xg.csv')

In [81]:
from sklearn import svm

In [82]:
clf = svm.SVC(kernel='linear')
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)

In [83]:
print("Accuracy:", metrics.accuracy_score(Y_test,Y_pred))

Accuracy: 0.6320057979017117

In [211]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,Y_train)

Y_pred=clf.predict(X_test)

In [85]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.6320057979017117

In [79]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
# lr.fit(X_train,Y_train)

# Y_pred=lr.predict(X_test)

In [87]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.6320057979017117

In [152]:
from sklearn.linear_model import SGDClassifier
#lr = LogisticRegression()
sgd = SGDClassifier(loss = 'modified_huber',shuffle = True,random_state = 101)
sgd.fit(X_train,Y_train)

Y_pred=sgd.predict(X_test)

In [97]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.6320057979017117

In [219]:
len(Y_pred)
Y_pred_state = Y_pred
Y_pred_tweet_id = test_tweet_df['id']

In [220]:
len(Y_pred_tweet_id)

32977

In [137]:
#type(Y_pred_tweet_id)
Y_pred_state

array(['NewYork', 'NewYork', 'NewYork', ..., 'NewYork', 'NewYork',
       'NewYork'], dtype=object)

In [138]:
state = pd.DataFrame(Y_pred_state)
tweet_id = pd.DataFrame(Y_pred_tweet_id)
#Y_test_df.to_csv('tweets/test_df_xg.csv')
prediction = pd.concat([tweet_id, state],ignore_index=True)

In [143]:
prediction.head(5)
#state.head(5)

  tweet-id    class
0       32  NewYork
1       33  NewYork
2       34  NewYork
3       35  NewYork
4       36  NewYork

In [140]:
# Place the DataFrames side by side
prediction = pd.concat([tweet_id, state], axis=1)

In [142]:
prediction.columns = ['tweet-id','class']

In [144]:
prediction.to_csv('tweets/clf_decision/prediction.csv',index=False)

In [154]:
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
lr = LogisticRegression()
model1 = KNeighborsClassifier(n_neighbors=100)
model2 = DecisionTreeClassifier(random_state=1)
model = VotingClassifier(estimators=[('knn', model1), ('dt', model2)], voting='soft')
model.fit(X_train,Y_train)
#Y_pred=model.predict(X_test)
model.score(X_test,Y_test)

0.5270223633351739

In [83]:
def Stacking(model,train,y,test,n_fold):
    folds=StratifiedKFold(n_splits=n_fold,random_state=1)
    test_pred=np.empty((test.shape[0],1),float)
    train_pred=np.empty((0,1),float)
    for train_indices,val_indices in folds.split(train,y.values):
        x_train,x_val=train.iloc[train_indices],train.iloc[val_indices]
        y_train,y_val=y.iloc[train_indices],y.iloc[val_indices]

        model.fit(X=x_train,y=y_train)
        train_pred=np.append(train_pred,model.predict(x_val))
        test_pred=np.append(test_pred,model.predict(test))
    return test_pred.reshape(-1,1),train_pred

In [84]:
model1 = DecisionTreeClassifier(random_state=1)

test_pred1 ,train_pred1=Stacking(model=model1,n_fold=10, train=X_train,test=X_test,y=Y_train)

train_pred1=pd.DataFrame(train_pred1)
test_pred1=pd.DataFrame(test_pred1)

In [75]:
from sklearn.model_selection import StratifiedKFold

In [85]:
model2 = GaussianNB()

test_pred2 ,train_pred2=Stacking(model=model2,n_fold=10,train=X_train,test=X_test,y=Y_train)

train_pred2=pd.DataFrame(train_pred2)
test_pred2=pd.DataFrame(test_pred2)

In [89]:
len(train_pred1)

67609

In [ ]:
df = pd.concat([train_pred1, train_pred2], axis=1)
df_test = pd.concat([test_pred1, test_pred2], axis=1)

model = LogisticRegression(random_state=1)
model.fit(df,Y_train)
model.score(df_test, Y_test)

In [91]:
len(Y_test)

28976

In [ ]:
model1 = tree.DecisionTreeClassifier()
model1.fit(X_train, Y_train)
val_pred1=model1.predict(x_val)
test_pred1=model1.predict(x_test)
val_pred1=pd.DataFrame(val_pred1)
test_pred1=pd.DataFrame(test_pred1)

model2 = KNeighborsClassifier()
model2.fit(x_train,y_train)
val_pred2=model2.predict(x_val)
test_pred2=model2.predict(X_test)
val_pred2=pd.DataFrame(val_pred2)
test_pred2=pd.DataFrame(test_pred2)

In [102]:
from sklearn.neighbors import KNeighborsClassifier

model1 = DecisionTreeClassifier()
model2 = KNeighborsClassifier(n_neighbors=3)
model3= LogisticRegression()

model1.fit(X_train,Y_train)
model2.fit(X_train,Y_train)
model3.fit(X_train,Y_train)

pred1=model1.predict_proba(X_test)
pred2=model2.predict_proba(X_test)
pred3=model3.predict_proba(X_test)

finalpred=(pred1*0.3+pred2*0.3+pred3*0.4)

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [95]:
len(finalpred)

28976

In [96]:
len(Y_test)

28976

In [ ]:
model.score(finalprednew, Y_test)

In [106]:
finalpred.head()

          0         1         2
0  0.216659  0.382757  0.400585
1  0.136070  0.042669  0.821261
2  0.527044  0.149061  0.323896
3  0.090279  0.082217  0.827503
4  0.019950  0.113021  0.867029

In [105]:
finalpred=pd.DataFrame(finalpred)

In [114]:
final_pred = finalpred['one']+finalpred['two']+finalpred['three']

In [110]:
finalpred.columns = ['one','two','three']

In [113]:
finalpred.head()

        one       two     three
0  0.216659  0.382757  0.400585
1  0.136070  0.042669  0.821261
2  0.527044  0.149061  0.323896
3  0.090279  0.082217  0.827503
4  0.019950  0.113021  0.867029

In [115]:
final_pred

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
6        1.0
7        1.0
8        1.0
9        1.0
10       1.0
11       1.0
12       1.0
13       1.0
14       1.0
15       1.0
16       1.0
17       1.0
18       1.0
19       1.0
20       1.0
21       1.0
22       1.0
23       1.0
24       1.0
25       1.0
26       1.0
27       1.0
28       1.0
29       1.0
        ...
28946    1.0
28947    1.0
28948    1.0
28949    1.0
28950    1.0
28951    1.0
28952    1.0
28953    1.0
28954    1.0
28955    1.0
28956    1.0
28957    1.0
28958    1.0
28959    1.0
28960    1.0
28961    1.0
28962    1.0
28963    1.0
28964    1.0
28965    1.0
28966    1.0
28967    1.0
28968    1.0
28969    1.0
28970    1.0
28971    1.0
28972    1.0
28973    1.0
28974    1.0
28975    1.0
Length: 28976, dtype: float64

In [117]:
finalprednew = finalpred

In [118]:
finalprednew = finalpred.drop(columns=['two','three'])

In [120]:
Y_test.head()

49074       NewYork
90511    California
93463       NewYork
156         Georgia
10441       NewYork
Name: location, dtype: object

In [121]:
finalprednew.head()

        one
0  0.216659
1  0.136070
2  0.527044
3  0.090279
4  0.019950

In [ ]:
fi = pd.DataFrame({'feature': list(X_train.columns)}).sort_values('importance', ascending = False)

In [ ]:
import tensorflow as tf
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("/tmp/data/", one_hot = True)

n_nodes_hl1 = 500
n_nodes_hl2 = 500
n_nodes_hl3 = 500

n_classes = 10
batch_size = 100

x = tf.placeholder('float', [None, 784])
y = tf.placeholder('float')

def neural_network_model(data):
    hidden_1_layer = {'weights':tf.Variable(tf.random_normal([784, n_nodes_hl1])),
                      'biases':tf.Variable(tf.random_normal([n_nodes_hl1]))}

    hidden_2_layer = {'weights':tf.Variable(tf.random_normal([n_nodes_hl1, n_nodes_hl2])),
                      'biases':tf.Variable(tf.random_normal([n_nodes_hl2]))}

    hidden_3_layer = {'weights':tf.Variable(tf.random_normal([n_nodes_hl2, n_nodes_hl3])),
                      'biases':tf.Variable(tf.random_normal([n_nodes_hl3]))}

    output_layer = {'weights':tf.Variable(tf.random_normal([n_nodes_hl3, n_classes])),
                    'biases':tf.Variable(tf.random_normal([n_classes])),}


    l1 = tf.add(tf.matmul(data,hidden_1_layer['weights']), hidden_1_layer['biases'])
    l1 = tf.nn.relu(l1)

    l2 = tf.add(tf.matmul(l1,hidden_2_layer['weights']), hidden_2_layer['biases'])
    l2 = tf.nn.relu(l2)

    l3 = tf.add(tf.matmul(l2,hidden_3_layer['weights']), hidden_3_layer['biases'])
    l3 = tf.nn.relu(l3)

    output = tf.matmul(l3,output_layer['weights']) + output_layer['biases']

    return output

def train_neural_network(x):
    prediction = neural_network_model(x)
    cost = tf.reduce_mean( tf.nn.softmax_cross_entropy_with_logits(prediction,y) )
    optimizer = tf.train.AdamOptimizer().minimize(cost)
    
    hm_epochs = 10
    with tf.Session() as sess:
        sess.run(tf.initialize_all_variables())

        for epoch in range(hm_epochs):
            epoch_loss = 0
            for _ in range(int(mnist.train.num_examples/batch_size)):
                epoch_x, epoch_y = mnist.train.next_batch(batch_size)
                _, c = sess.run([optimizer, cost], feed_dict={x: epoch_x, y: epoch_y})
                epoch_loss += c

            print('Epoch', epoch, 'completed out of',hm_epochs,'loss:',epoch_loss)

        correct = tf.equal(tf.argmax(prediction, 1), tf.argmax(y, 1))

        accuracy = tf.reduce_mean(tf.cast(correct, 'float'))
        print('Accuracy:',accuracy.eval({x:mnist.test.images, y:mnist.test.labels}))

train_neural_network(x)

/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:493: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:494: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:495: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:496: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:497: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:502: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
nn_architecture = [
    {"input_dim": 2, "output_dim": 4, "activation": "relu"},
    {"input_dim": 4, "output_dim": 6, "activation": "relu"},
    {"input_dim": 6, "output_dim": 6, "activation": "relu"},
    {"input_dim": 6, "output_dim": 4, "activation": "relu"},
    {"input_dim": 4, "output_dim": 1, "activation": "sigmoid"},
]

In [5]:
def init_layers(nn_architecture, seed = 99):
    np.random.seed(seed)
    number_of_layers = len(nn_architecture)
    params_values = {}

    for idx, layer in enumerate(nn_architecture):
        layer_idx = idx + 1
        layer_input_size = layer["input_dim"]
        layer_output_size = layer["output_dim"]
        
        params_values['W' + str(layer_idx)] = np.random.randn(
            layer_output_size, layer_input_size) * 0.1
        params_values['b' + str(layer_idx)] = np.random.randn(
            layer_output_size, 1) * 0.1
        
    return params_values

In [6]:
def sigmoid(Z):
    return 1/(1+np.exp(-Z))

def relu(Z):
    return np.maximum(0,Z)

def sigmoid_backward(dA, Z):
    sig = sigmoid(Z)
    return dA * sig * (1 - sig)

def relu_backward(dA, Z):
    dZ = np.array(dA, copy = True)
    dZ[Z <= 0] = 0;
    return dZ;

In [7]:
def single_layer_forward_propagation(A_prev, W_curr, b_curr, activation="relu"):
    Z_curr = np.dot(W_curr, A_prev) + b_curr
    
    if activation is "relu":
        activation_func = relu
    elif activation is "sigmoid":
        activation_func = sigmoid
    else:
        raise Exception('Non-supported activation function')
        
    return activation_func(Z_curr), Z_curr

In [8]:
def update(params_values, grads_values, nn_architecture, learning_rate):
    for layer_idx, layer in enumerate(nn_architecture):
        params_values["W" + str(layer_idx)] -= learning_rate * grads_values["dW" + str(layer_idx)]        
        params_values["b" + str(layer_idx)] -= learning_rate * grads_values["db" + str(layer_idx)]

    return params_values;

In [9]:
def train(X, Y, nn_architecture, epochs, learning_rate):
    params_values = init_layers(nn_architecture, 2)
    cost_history = []
    accuracy_history = []
    
    for i in range(epochs):
        Y_hat, cashe = full_forward_propagation(X, params_values, nn_architecture)
        cost = get_cost_value(Y_hat, Y)
        cost_history.append(cost)
        accuracy = get_accuracy_value(Y_hat, Y)
        accuracy_history.append(accuracy)
        
        grads_values = full_backward_propagation(Y_hat, Y, cashe, params_values, nn_architecture)
        params_values = update(params_values, grads_values, nn_architecture, learning_rate)
        
    return params_values, cost_history, accuracy_history

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4, init='k-means++', max_iter=300, n_init=10, random_state=0)
pred_y = kmeans.fit_predict(X_train)